# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
"NL Assets"

# mstest test results
TestResults
*.suo
/packages
Helios *.zip
"/.vs"
"NL Assets"
/installer
/.vs/helios/v15/Server/sqlite3
Helios *.zip
Helios*.msi
setup.exe
/.vs/Helios/v16/Server/sqlite3/db.lock
/.vs/Helios/v16/Server/sqlite3/storage.ide
/.vs/Helios/v16/Server/sqlite3/storage.ide-shm
/.vs/Helios/v16/Server/sqlite3/storage.ide-wal
/UpgradeLog2.htm
/Helios/Helios.csproj.user
